{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/dino.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    {% endblock %}
{#    {% block javascripts %}#}
{#        <script src="{{ asset('js/testDino.js') }}"></script>#}
{#    {% endblock %}#}
{% endblock %}
{% block main %}
    <div id="game" class="game">
        <div id="score" class="score">0</div>
        <div id="start-message" class="start-message">Press any key to start</div>
        <img src="{{ asset('assets/ground.png') }}" class="ground">
        <img src="{{ asset('assets/ground.png') }}" class="ground">
        <img src="{{ asset('assets/dino-stationary.png') }}" id="dino" class="dino">
        <div id="gameover-message" class="gameover-message hide">
            <p>Game over</p>
            <span>Press any key to restart</span>
        </div>
    </div>
    <script src="{{ asset('js/testDino.js') }}"></script>
{% endblock %}