{% extends "base.html.twig" %}
{% block title %}En savoir plus{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset("css/wiki.css") }}">{% endblock %}
{% block javascripts %}
    <script defer type="text/javascript" src="{{ asset("js/konamiCode.js") }}"></script>
{% endblock %}
{% block main %}
    <main>
        <div id="wiki-nav">
            <h3>Bienvenue sur la page pour en savoir plus !</h3>
            <form class="search-bar" method="post" action="{{ path("searchTheme") }}">
                <label>
                    <select name="searchTerm">
                        <option value="Consommation">Consommation</option>
                        <option value="Transport">Transport</option>
                        <option value="Technologie">Technologie</option>
                        <option value="Énergie">Énergie</option>
                        <option value="Climat">Climat</option>
                        <option value="Agriculture">Agriculture</option>
                        <option value="Recyclage">Recyclage</option>
                        <option value="Environnement">Environnement</option>
                        <option value="Biodiversité">Biodiversité</option>
                        <option value="Politiques Climatiques">Politiques Climatiques</option>
                        <option value="Coopération Internationale">Coopération Internationale</option>
                        <option value="Industrie">Industrie</option>
                        <option value="Éducation">Éducation</option>
                    </select>
                </label>
                <button type="submit" class="search-button"><img src="{{ asset("img/search.svg") }}" alt="Rechercher"></button>
            </form>
        </div>

        <table>
            <tr class="light">
                <td><strong>Questions</strong></td>
                <td><strong>Thèmes</strong></td>
            </tr>
            {% for question in questions %}
            <tr class="light">
                <td><a href="">{{ question.question }}</a></td>
                <td>{{ question.theme }}</td>
            </tr>
            {% endfor %}
        </table>


    </main>
{% endblock %}