<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" type="text/css" href="{{ asset("css/base.css") }}">
        {% block stylesheets %}
        {% endblock %}
        <script defer type="text/javascript" src="{{ asset("js/base.js") }}"></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <div id="wallpaper"></div>
    <img id="j-o" src="{{ asset("img/jo.gif") }}">
    <header>
        <nav>
            <a class="light" href="{{ path("questionList") }}">QLW</a>
            <a class="light" href="{{ path("wiki") }}">En savoir plus</a>
        </nav>
    </header>
        {% block main %}{% endblock %}
    </body>
</html>
